<div class="container">
  <p> Select a region where you want to hike</p>                                          
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Regions
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li id="southeast"><a href="#">Southeast</a></li>
      <li id="northeast"><a href="#">Northeast</a></li>
      <li id="northwest"><a href="#">Northwest</a></li>
      <li id="southwest"><a href="#">SouthWest</a></li>
    </ul>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
      $('#southeast').click(function() {
        $('#chart_div').hide();
        $('#map_section_SE').show();
        $('#map_section_NE').hide();
        $('#map_section_SW').hide();
        $('#map_section_NW').hide();
        initMap2();
      });
      $('#northeast').click(function() {
        $('#chart_div').hide();
        $('#map_section_NE').show();
        $('#map_section_SE').hide();
        $('#map_section_SW').hide();
        $('#map_section_NW').hide();
        initMap1();
      });

      $('#southwest').click(function() {
        $('#chart_div').hide();
        $('#map_section_SW').show();
        $('#map_section_NE').hide();
        $('#map_section_SE').hide();
        $('#map_section_NW').hide();
        initMap3();
      });

      $('#northwest').click(function() {
        $('#chart_div').hide();
        $('#map_section_NW').show();
        $('#map_section_SW').hide();
        $('#map_section_NE').hide();
        $('#map_section_SE').hide();
        initMap4();
      });
  
  });
</script> 