<form id="registration-form" action="../hiking-site/salt.php" method="post">
   <label for="name">Full Name: </label><input type="text" name="name" id="name" /><br />
   <label for="username">Username: </label><input type="text" name="username" id="username" /><br />
   <label for="password">Password: </label><input type="text" name="password" id="password" /><br />
   <label for="email">Email: </label><input type="text" name="email" id="email" /><br />
   <input type="submit" id="register-button" value="Register"/>
</form>